body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.backgr {
	height: 280px;
	background: url(../img/paris.jpg) no-repeat;
	background-size: 100%;
	background-position: right center;
	position: relative;
	width: 100%;
}

.go-center {
	padding-top: 1%;
	vertical-align: middle;
	display: block;
	margin: 0 auto 0 auto;
	text-align: center;
	color: white;
}

.transparent {
	background: transparent !important;
	padding-top: 3% !important;
}

.white {
	color: white;
}

.border {
	border: red solid;
}

.white:hover {
	color: greenyellow;
}

ol li a:hover {
	text-decoration: none;
}

.go-flex {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.ref {
	font-variant: small-caps;
	padding: 1.5% 10px;
}
.ref:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: transform .5s ease-in-out;
}

.invisible {
	display: none;
}

.visible-content {
	border: #e8e8e8 solid;
}

.tab-header {
	margin: 0.7% 20px;
	font-weight: bolder;
}

.bckgr-tab {
	background-color: #2e83bf;
	color: white;
}